.h1-text {
    color: black;
    font-size: 30px;
    font-family: Consolas;
    font-weight: light;
    padding-bottom: 10px;
}

.img-padding {

    width: 100px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes example {
    0%   {left:-100px; top:0px;}
    25%  {left:0px; top:0px;}
    50%  {left:100px; top:0px;}
    75%  {left:0px; top:0px;}
    100% {left:-100; top:0px;}
  }

  .column {
    float: left;
    width: 15.33%;
    padding: 50px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }